# ====================
# Android Studio / Gradle
# ====================
.idea/
*.iml
*.ipr
*.iws
.gradle/
**/build/
local.properties
**/*.lock
**/*.bin
**/*gc.properties
**/cache.properties
**/config.properties

# ====================
# Backend secrets / AWS
# ====================
seismiq-backend/attrs.json
seismiq-backend/service.json
seismiq-backend/.aws-sam/

# Environment / secret files
*.jks
*.keystore
*.env
secrets/

# ====================
# Logs
# ====================
*.log

# ====================
# Maven
# ====================
**/target/
**/maven-status/

# ====================
# OS
# ====================
.DS_Store
Thumbs.db

